@use "config" as *;
@use "utilities";

@use "sass:color";

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: #fff;
}

.pline {
  text-transform: uppercase;
  font-size: 64px !important;
  // color: $white-color;
  line-height: 1.2;
}

img {
  max-width: 100%;
}

#main-nav {
  .nav-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    position: sticky;
    z-index: 2;
    width: 100%;
    box-sizing: border-box;

    .main-logo {
      width: 4rem;
      height: auto;
      margin-left: 2rem;
    }

    ul {
      display: flex;
      flex-flow: row wrap;
      list-style: none;
      margin-left: auto;

      li {
        padding: 1rem 1.5rem;

        a {
          font-family: "Dosis", sans-serif;
          text-transform: uppercase;
          text-decoration: none;
          color: $white-color;
          // font-weight: 500;
          padding-bottom: 0.5rem;
          border-bottom: 3px transparent solid;
          transition: border-color 0.5s;

          &:hover {
            border-color: $gray-color;
          }
        }
      }
    }
  }
}

//Header
#header {
  &-home {
    background: url("../imgs/bg.jpeg") no-repeat 80% center/cover;
    height: 100vh;
    // min-width: 100vw;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      // background: inherit;
      background: rgba(37, 1, 82, 0.2);
      backdrop-filter: blur(1.15px);
      // filter: blur(1.5px);
      z-index: 1;
    }
    .header-content {
      padding: 20% 0 0 0;
      position: relative;
      z-index: 2;

      .lead {
        font-weight: 350;
      }

      .btn-light {
        font-weight: 500;
        border-radius: 5px;
      }
    }
  }
}

// @keyframes shooting {
//   0% {
//     transform: rotate(-45deg) translateX(0);
//     opacity: 1;
//   }
//   70% {
//     opacity: 1;
//   }
//   100% {
//     transform: rotate(-45deg) translateX(1000px);
//     opacity: 0;
//   }
// }

//About Me

#about-me {
  border-top: 3px solid $main-color;
  margin-bottom: 2rem;

  .section-title {
    font-weight: 550;
  }

  .bio-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
    grid-auto-rows: 250px auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
      border: 0.5px solid $gray-color;
      border-radius: 5px;
      transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      display: block;

      &:hover {
        transform: scale(1.05);
        // box-shadow: 5px 5px 1px 3px $black-color;
      }
    }
    .bio-img {
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
    }
    .bio {
      grid-column: 2 / span 2;
      padding: 1.2rem;

      border-left: 3px solid $main-color;
      box-sizing: border-box;
      overflow: hidden !important;

      p {
        text-align: left !important;
        line-height: 1.4;
        font-weight: 400;
        font-size: 1.2rem;
      }

      h4 {
        font-size: 1.5rem !important;
        font-weight: 600;
        margin-bottom: 0.4rem;
      }
    }

    .award {
      &-1 {
        grid-column: 1 / span 1;
        p {
          font-size: 1.1rem;
          font-weight: 400;
        }
      }
      &-2 {
        grid-column: 2 / span 1;
        p {
          font-size: 1.1rem;
          font-weight: 400;
        }
      }
      &-3 {
        grid-column: 3 / span 1;
        p {
          font-size: 1.1rem;
          font-weight: 400;
        }
      }
    }

    .award-1 .fas,
    .award-2 .fas,
    .award-3 .fas {
      color: $main-color;
      margin: 1rem;
    }
  }
}

//Testimonials
#technical {
  width: 100%;
  .section-title {
    text-align: center;
  }

  .tech-items {
    .progress {
      height: 1.2rem;
      background-color: $gray-color;
      border-radius: 5px;
      margin-bottom: 0.7rem;
      overflow: hidden;
      width: 100%;

      div {
        background-color: $main-color;
        height: 100%;
      }
    }
  }

  padding-bottom: 4rem;
}

//Work

#my-work {
  .work-container {
    max-width: 83%;
    height: auto;
    margin: auto;
    line-height: 1.4;
    .section-title {
      text-align: center;
      font-weight: 600;
    }
    .work-cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1.2rem;
      row-gap: 3.5rem;
      padding-top: 2.4rem;

      .card {
        max-width: 540px;
        width: 100%;
        min-width: 300px;
        margin: auto;
        box-sizing: border-box;
        padding: 1.5rem 1.6rem 2rem 1.6rem;
        border: 2px $black-color solid;
        box-shadow: 10px 10px 0px 0px $black-color;
        border-radius: 1rem;
        transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        gap: 1rem;
        height: auto;
        min-height: 630px;
        // min-width: 488px;
        width: 100%;

        &:hover {
          transform: translateY(-12px);
          box-shadow: 17px 17px 0px 0px $black-color;
        }

        &:hover:not(:has(.skeleton)) {
          .img-wrap {
            transform: translate(-4px, -4px);
            box-shadow: 4px 4px 0px 1px $main-color;
          }
        }

        .img-wrap {
          width: 100%;
          height: 100%;
          position: relative;
          border: 2px solid $black-color;
          border-radius: 5px;
          aspect-ratio: 16/9;
          overflow: hidden;
          box-sizing: border-box;
          transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

          & a:nth-child(1) img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            aspect-ratio: 16/9;
            // border-radius: 5px;
            // border: 2px solid $black-color;
            z-index: 3;
            transform: none;
            box-shadow: none;
          }

          &.skeleton {
            // border: 2px solid $black-color;
            &::before {
              content: "COMING SOON";
              position: absolute;
              inset: 0;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: $gray-color;
              z-index: 1;
              // border: 2px solid $black-color;
            }

            &::after {
              content: "";
              position: absolute;
              inset: 0;
              background: linear-gradient(
                90deg,
                transparent,
                rgba(255, 255, 255, 0.4),
                transparent
              );
              z-index: 2;
              animation: shimmer 2s infinite;
            }
          }
        }

        h3 {
          align-self: flex-start;
          background-color: $main-color;
          padding: 0.5rem;
          // margin-top: 1.1rem;
          min-height: 1.5rem;
          margin-bottom: 0.5rem;
          border: 2px solid $black-color;
          border-radius: 5px;
          font-weight: 520;
          font-size: 1rem;
          align-self: flex-start;
        }

        p.lead {
          font-size: 1.1rem;
          padding: 0.5rem 0;
          // margin-top: 0.95rem;
          // margin-top: auto;
          margin-bottom: auto;
          flex-grow: 1;
        }

        .btn-primary {
          border-radius: 5px;
          display: block;
          // margin-top: auto;
          padding: 0.6rem 1.2rem;
          border: 2px solid $black-color;
          box-shadow: 2px 2px 0px 1px $black-color;
          text-decoration: none;
          margin-left: auto;
          margin-right: auto;
          align-self: center;
          font-weight: 550;
        }
      }

      @keyframes shimmer {
        0% {
          transform: translateX(-150%);
        }
        100% {
          transform: translateX(150%);
        }
      }
    }
  }
}

#contact {
  form {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    // align-items: center;
    max-width: 1000px;
    min-height: 650px;
    margin: 0 auto 0 auto;
    border: 3px solid $black-color;
    padding: 2rem;
    border-radius: 1rem;

    .text-fields {
      display: grid;
      max-height: 24rem;
      column-gap: 2rem;
      row-gap: 0.5rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, 1fr);
      margin-bottom: 2.3rem;

      .text-field {
        // padding: 0.4rem 0.5rem;
        // margin-bottom: 5rem;

        .input-field {
          padding: 0.5rem 1rem;
          width: 100%;
          box-sizing: border-box;
          border: 2px solid $black-color;
          border-radius: 5px;
          transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          min-height: 2.4rem;
          // margin-bottom: 0.2rem;

          &:focus {
            outline: none;
            background-color: color.adjust($main-color, $lightness: 46%);
            box-shadow: 2px 2px 0px 1px $main-color;
            transform: translate(-2px, -2px);
          }

          &::placeholder {
            font-family: "Dosis", sans-serif;
          }
        }

        label {
          display: block;
          text-align: left;
          margin-bottom: 0.5rem;
          font-family: "Dosis", sans-serif;
          font-weight: 700;
          text-transform: uppercase;
        }

        &.input {
          &-name {
            grid-column: 1 / span 1;
          }
          &-email {
            grid-column: 2 / span 1;
          }
          &-subject {
            grid-column: 1 / span 2;
          }
          &-message {
            grid-column: 1 / span 2;
            .input-field {
              height: 150px;
              resize: none;

              &::placeholder {
                text-align: left;
                font-family: "Dosis", sans-serif;
              }
            }
          }
        }
      }
    }

    button[type="submit"] {
      border-radius: 5px;
      font-weight: 900;
      font-size: 1rem;
      font-family: "Dosis", sans-serif;
      width: 100%;
      border: 2px solid $black-color;
      box-shadow: 5px 5px 0px 1px $black-color;
      transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      margin-bottom: 1rem;

      &:active {
        transform: translate(0px, 0px);
        box-shadow: none;
      }

      &:hover {
        transform: translate(-3px, -3px);
        box-shadow: 8px 8px 0px 0px $black-color;
      }
    }
  }
}

#main-footer {
  // height: 6rem;
  padding: 3rem 0;
  border-top: 3px solid $main-color;
  color: $white-color;
  background-color: $black-color;
  .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    min-height: 5rem;
    // gap: 1rem;

    .socials {
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: center;
      gap: 2rem;
      // width: 350px;
      height: auto;
      .sbox {
        display: flex;
        flex-direction: column;
        place-content: center;
        // margin-right: 1rem;
        height: 4rem;
        width: 3rem;
        // line-height: 2.3rem;
        // text-align: center;

        .fab,
        .fas {
          color: $white-color;
          font-size: 2.4rem;
          padding: 0.2rem;
          letter-spacing: normal;
          display: block;
          text-align: center;
          width: auto;

          // line-height: 1rem;
          transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

          &:hover {
            transform: translateY(-3px) scale(1.2);
            // font-size: 2.6rem;
          }

          // &:hover::after {
          //   content: attr(data-title);
          //   position: absolute;
          //   inset: 0;
          //   bottom: 120%;
          //   left: 50%;
          //   transform: translate(-50%);

          //   background-color: $main-color;
          //   color: $dark-color;
          //   padding: 0.5rem 1rem;
          //   border: 2px solid $black-color;
          //   box-shadow: 4px 4px 0px 1px $black-color;
          //   font-weight: 700;
          //   white-space: nowrap;
          //   z-index: 10;
          //   border-radius: 5px;
          //   font-family: "Dosis", sans-serif;
          // }
        }
      }
    }

    p {
      font-size: 1.7rem;
    }
  }
}
