$website-width: 1280px;
$yellow-color: #ffbc00;
$main-color: #ffbc00;
$white-color: #f4f4f4;
$gray-color: #ccc;
$dark-color: #333;
$black-color: #333;
$bg-img: url("../img/showcase.jpg");

// @function set-text-color($color) {
//   @if (color.channel($color, "lightness", $space: hsl) > 50%) {
//     @return $dark-color;
//   } @else {
//     @return $white-color;
//   }
// }
