// @use "main";npm
@media (max-width: 1250px) {
  #my-work {
    .work-container {
      .work-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1.4rem;
      }
    }
  }
}

@media (max-width: 768px) {
  #header-home {
    .header-content {
      padding: 20% 0 0 0 !important;
    }
  }

  #about-me {
    .bio-info {
      row-gap: 1.8rem;
    }
  }

  #my-work {
    .work-container {
      .work-cards {
        display: grid;
        grid-template-columns: 1fr;
      }
    }
  }
}

@media (max-width: 650px) {
  #header-home {
    background: url("../imgs/bg.jpeg") no-repeat 72% 75% / cover;
    #main-nav {
      margin-bottom: 1rem;
      .nav-container {
        display: flex;
        flex-direction: column;
        align-content: center;

        .main-logo {
          margin-bottom: 2rem;
          margin-left: 0;
        }
      }

      .container {
        .header-content {
          padding: 40% 0 0 0 !important;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  #about-me {
    .bio-info {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
        "bio-img"
        "bio-img"
        "bio"
        "award-1"
        "award-2"
        "award-3" !important;
      .bio-img {
        grid-area: bio-img;
      }

      .bio {
        grid-area: bio;
      }
      .award {
        &-1 {
          grid-area: award-1;
        }
        &-2 {
          grid-area: award-2;
        }
        &-3 {
          grid-area: award-3;
        }
      }
    }
  }

  #contact {
    form {
      .text-fields {
        display: grid;
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr 1fr 2fr !important;
        row-gap: 1.5rem;
        max-height: 900px !important;
        box-sizing: border-box;
        // min-height: auto !important;
        .text-field {
          box-sizing: border-box;
          min-height: auto !important;
          // .input-field {
          //   // min-height: auto !important;
          // }
          &.input {
            &-name {
              grid-column: 1 / span 1;
              grid-row: 1 / span 1;
            }
            &-email {
              grid-column: 1 / span 1;
              grid-row: 2 / span 1;
            }
            &-subject {
              grid-column: 1 / span 1;
              grid-row: 3 / span 1;
            }
            &-message {
              grid-column: 1 / span 1;
              grid-row: 4 / span 1;
              // .input-field {
              //   height: 150px;
              //   resize: none;

              //   &::placeholder {
              //     text-align: left;
              //     font-family: "Dosis", sans-serif;
              //   }
              // }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 535px) {
  #main-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0.5rem 0rem !important;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      gap: 1.5rem;

      li {
        // margin-left: 1rem;
        min-width: 4rem !important;
        padding: 1rem 1.5rem !important;
      }
    }
  }
}

@media (max-width: 447px) {
  #main-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.7rem 0.3rem 0rem !important;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      gap: 1.2rem;

      li {
        // margin-left: 1rem;
        min-width: 3rem !important;
      }
    }
  }
}

@media (max-width: 430px) {
  #header-home {
    #main-nav {
      .nav-container {
        padding-top: 1rem;

        ul {
          display: flex;
          flex-flow: row wrap;
          list-style: none;
          margin-left: auto;

          li {
            padding: 1rem 1.5rem;
            font-size: 1.5rem !important;
            padding: 0.8rem 1.2rem !important;
          }
        }
      }
    }
    .header-content {
      padding: 16% 0 0 0 !important;
      // height: 1rem !important;
    }
  }
}
@media (max-width: 390px) {
  #header-home {
    #main-nav {
      .nav-container {
        padding-top: 1rem;

        ul {
          display: flex;
          flex-flow: row wrap;
          list-style: none;
          margin-left: auto;

          li {
            padding: 1rem 1.5rem;
            font-size: 1.1rem !important;
          }
        }
      }
    }
    .header-content {
      padding: 10% 0 0 0 !important;
      // height: 1rem !important;
    }
  }

  #about-me {
    .bio-info {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
        "bio-img"
        "bio-img"
        "bio"
        "bio"
        "award-1"
        "award-2"
        "award-3" !important;
      .bio-img {
        grid-area: bio-img;
      }

      .bio {
        grid-area: bio;
      }
      .award {
        &-1 {
          grid-area: award-1;
        }
        &-2 {
          grid-area: award-2;
        }
        &-3 {
          grid-area: award-3;
        }
      }
    }
  }

  #main-footer {
    min-height: auto !important;
    padding: 2rem 0;
    .footer-content {
      display: flex;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;

      gap: 3rem;

      height: auto !important;

      p {
        font-size: 1.5rem;
      }
    }
  }
}

@media (max-width: 375px) {
  #header-home {
    #main-nav {
      margin-bottom: 0rem;

      .nav-container {
        font-size: 0.7rem !important;
        ul {
          gap: 0.8rem;
          li {
            min-width: 2.5rem !important ;
          }
        }
      }
    }
    .header-content {
      max-height: 12rem !important;
      display: flex !important;
      flex-direction: column !important;
      justify-content: space-evenly !important;
      padding: 10% 0 0 0 !important;
      .pline {
        font-size: 2rem !important;
      }
      .lead {
        font-size: 1.4rem !important;
        margin-bottom: 0.8rem !important;
      }

      .btn-light {
        font-size: 1rem !important;
        padding: 0.5rem 1rem !important;
        max-width: 4rem;
        margin: 0 auto !important;
      }
    }
  }
}
