@use "config" as *;
.container {
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

.btn-shared {
  display: inline-block;
  padding: 0.8rem 2rem;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
}

.btn {
  &-primary {
    @extend .btn-shared;
    background-color: $main-color;
    color: $dark-color;
  }

  &-light {
    @extend .btn-shared;
    background-color: $white-color;
    color: $dark-color;
  }

  &-dark {
    @extend .btn-shared;
    background-color: $dark-color;
    color: $white-color;
  }
}

.bg {
  &-main {
    background-color: $main-color;
    color: $dark-color;
  }

  &-light {
    background-color: $white-color;
    color: $dark-color;
  }

  &-dark {
    background-color: $dark-color;
    color: $white-color;
  }
}

.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}
.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}
.mx {
  &-1 {
    margin: 0 1rem;
  }
  &-2 {
    margin: 0 2rem;
  }
  &-3 {
    margin: 0 3rem;
  }
  &-4 {
    margin: 0 4rem;
  }

  &-auto {
    margin: 0 auto;
  }
}

button[class^="btn-"]:hover,
input[class^="btn-"]:hover,
a[class^="btn-"]:hover {
  background-color: $main-color;
  color: $dark-color;
}
button[class^="btn-primary"]:hover,
input[class^="btn-primary"]:hover,
a[class^="btn-primary"]:hover {
  background-color: $dark-color;
  color: $main-color;
}

.bottom-line {
  height: 2px;
  background-color: $main-color;
  margin: 0 auto 1rem auto;
  display: block;
  width: 4rem;
}

.text-center {
  text-align: center;
}

.lead {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  font-weight: 400;
  // color: $dark-color;
}

.section-title {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 0.8rem;
  font-weight: 500;
}

img {
  width: 100%;
}

.nav-container {
  max-width: 1500px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}
